* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orangeLogo: #f96809;
    --orangeSecondary: #F5B041;
    --whitePrimary: #FAFAFA;
    --grayPrimary: #B3B3B3;
    --graySecondary: #4D4D4D;
    --grayBackground: #202020;
    --blackPrimary: #050505;
    --blackBackground: #040404;
    --fontStandard: 1.6rem;
    --fontSecondary: 1.8rem;
    --fontPrimary: 2.6rem;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--fontStandard);
    font-weight: 300;
    color: var(--blackPrimary);
}

.page-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.content-container {
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 20% 50% 30%;
    grid-template-areas: 'nav     aside'
                         'section aside'
                         'footer  aside';
    height: 100%;
    width: 100%
}

.navbar {
    height: 100%;
    background-color: var(--grayBackground);
    grid-area: nav;
    display: flex;

    transform: translateY(-12.5rem);
    opacity: 0;
    animation: navbar 1s ease-in-out 2s forwards;
}

@keyframes navbar {
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.navbar-content {    
    display: flex;
    align-items: center;
    width: 100%;    
}

.navbar-content img {
    width: 30%;
    margin-inline: 2rem;
}

.navbar-content ul {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.navbar-content ul li a {
    text-decoration: none;
    color: var(--grayPrimary);
}



.content-container main {
    grid-area: section;  
    display: flex;
    flex-direction: column;
    justify-content: center;

    transform: translateX(-60rem);
    opacity: 0;
    animation: main-container 1s ease-in-out 2s forwards;
}

.main-content h1 {
    font-size: var(--fontPrimary);
    font-weight: 300;
    line-height: 4rem;
    margin-inline-start: 8rem;
}
.main-content h1 span {
    font-size: 3.6rem;    
    font-weight: 700;
    margin-inline-start: -3rem;
}

.main-content p {
    margin-inline: 5rem;
    margin-block-start: 2rem;
    line-height: 3rem;
}

@keyframes main-container {
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}



.content-container aside {
    background-color: var(--grayPrimary);
    grid-area: aside;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;    
}

.aside-content h2 {
    transform: rotate(-90deg);
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}



.loader {
    height: 100%;
    width: 100%;
    background-color: var(--whitePrimary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    animation: loader 2s linear forwards;
}

@keyframes loader {
    0%, 90% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader div {
    height: 4rem;
    width: 4rem;
    background-color: var(--orangeSecondary);
    border-radius: 50%;
    margin-inline: 1rem;
    transform: scale(0);
    animation: scaling 2s linear infinite;
}

.loader div:nth-child(2) {
    animation-delay: .2s;    
}
.loader div:nth-child(3) {
    animation-delay: .4s;
}

@keyframes scaling {
    0%, 100% {
        transform: scale(1.2);
        opacity: 1;
    }
    50% {
        transform: scale(.4);
        opacity: .3;
    }   
}